#### Import the libraries

In [ ]:
import pandas as pd  # data preporcessing
# pd is alias name for pandas
import numpy as np  # mathematical calulations
# np is alias for numpy
import matplotlib.pyplot as plt  # viualization - graphs and charts
# plt is alias for pyplot

#### Read the dataset

In [ ]:
df = pd.read_csv('Spotify Top 100 most Streamed.csv')
df.head()

,title,artist,top genre,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity
0,Blinding Lights,The Weeknd,canadian contemporary r&b,2020,171,73,51,-6,9,33,200,0,6,91
1,Watermelon Sugar,Harry Styles,pop,2019,95,82,55,-4,34,56,174,12,5,88
2,Mood (feat. iann dior),24kGoldn,cali rap,2021,91,72,70,-4,32,73,141,17,4,88
3,Someone You Loved,Lewis Capaldi,pop,2019,110,41,50,-6,11,45,182,75,3,86
4,Perfect,Ed Sheeran,pop,2017,95,45,60,-6,11,17,263,16,2,86

In [ ]:
df.shape
# rows = 100,cols= 14

(100, 14)

### Data Cleansing

#### 1) Handling Null Values

Assignment - Create a function to display column wise count of null values and percentage of null values in desc order of precentage in form of a dataframe.

In [ ]:
df.isnull().sum()

title               0
artist              0
top genre           0
year                0
beats.per.minute    0
energy              0
danceability        0
loudness.dB         0
liveness            0
valance             0
length              0
acousticness        0
speechiness         0
popularity          0
dtype: int64

#### 2) Handle Duplicates

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.columns

Index(['title', 'artist', 'top genre', 'year', 'beats.per.minute', 'energy',
       'danceability', 'loudness.dB', 'liveness', 'valance', 'length',
       'acousticness', 'speechiness', 'popularity'],
      dtype='object')

In [ ]:
df.dtypes

title               object
artist              object
top genre           object
year                 int64
beats.per.minute     int64
energy               int64
danceability         int64
loudness.dB          int64
liveness             int64
valance              int64
length               int64
acousticness         int64
speechiness          int64
popularity           int64
dtype: object

#### Questions
<pre>
1) Top N Artists with most songs in top 100 spotify songs
2) Top N Genres with most songs in top 100 spotify songs
3) Percentage Contribution of top genres in Top N Artists with most songs
4) Top 5 year contributing most to the spotify top 100 playlist
5) Compute Top N Genre wise mean of Energy and Polularity.
6) Compute Top Genre wise min, max, mean of Energy and mean and median of liveness.
7) Compute artist wise min, max and mean of popularity and mean & count of liveness
8) Generate the statistical summary of the data
9) Capture Outliers in Energy
</pre>

In [ ]:
df.columns

Index(['title', 'artist', 'top genre', 'year', 'beats.per.minute', 'energy',
       'danceability', 'loudness.dB', 'liveness', 'valance', 'length',
       'acousticness', 'speechiness', 'popularity'],
      dtype='object')

#### 1) Top N Artists with most songs in top 100 spotify songs

In [ ]:
df['artist'].value_counts().sort_values(ascending=False).reset_index()

              index  artist
0       Post Malone       7
1        Ed Sheeran       5
2        The Weeknd       4
3   Imagine Dragons       4
4      Shawn Mendes       3
..              ...     ...
59           Eminem       1
60           Halsey       1
61       Mark Mendy       1
62        Vance Joy       1
63      Mike Posner       1

[64 rows x 2 columns]

In [ ]:
def top_N_Artists_with_most_songs(n):
    r = df['artist'].value_counts().sort_values(ascending=False).reset_index() # Series
    r.columns = ['Artist','Song_Count']
    return r.head(n)

In [ ]:
r1 = top_N_Artists_with_most_songs(7)
r1

            Artist  Song_Count
0      Post Malone           7
1       Ed Sheeran           5
2       The Weeknd           4
3  Imagine Dragons           4
4     Shawn Mendes           3
5    Billie Eilish           3
6         Maroon 5           3

In [ ]:
def top_N(col,n):
    r = df[col].value_counts().sort_values(ascending=False).reset_index()
    if col =='artist':
        r.columns = ['Artist','Song_Count']
    elif col == "top genre":
        r.columns = ['Genre','Genre_Count']
    return r.head(n)

In [ ]:
r2 = top_N('top genre',5)
r2

          Genre  Genre_Count
0     dance pop           28
1           pop           11
2       dfw rap            7
3   modern rock            6
4  canadian pop            6

#### 3) Percentage Contribution of top genres in Top N Artists with most songs

In [ ]:
r3 = top_N('artist',7)
r3

            Artist  Song_Count
0      Post Malone           7
1       Ed Sheeran           5
2       The Weeknd           4
3  Imagine Dragons           4
4     Shawn Mendes           3
5    Billie Eilish           3
6         Maroon 5           3

In [ ]:
r3['Song_Count'].sum()

29

In [ ]:
top7_artist = r3['Artist'].values.tolist()
top7_artist

['Post Malone',
 'Ed Sheeran',
 'The Weeknd',
 'Imagine Dragons',
 'Shawn Mendes',
 'Billie Eilish',
 'Maroon 5']

In [ ]:
df[df['artist'].isin(['Ed Sheeran','Maroon 5'])]

,title,artist,top genre,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity
4,Perfect,Ed Sheeran,pop,2017,95,45,60,-6,11,17,263,16,2,86
8,Shape of You,Ed Sheeran,pop,2017,96,65,83,-3,9,93,234,58,8,85
9,Memories,Maroon 5,pop,2021,91,33,78,-7,8,60,189,84,6,85
21,Photograph,Ed Sheeran,pop,2014,108,38,61,-10,10,20,259,61,5,83
29,Thinking out Loud,Ed Sheeran,pop,2014,79,45,78,-6,18,59,282,47,3,82
57,I Don't Care (with Justin Bieber),Ed Sheeran,pop,2019,102,68,80,-5,9,84,220,9,4,80
87,Girls Like You (feat. Cardi B) - Cardi B Version,Maroon 5,pop,2018,125,54,85,-7,13,45,236,57,5,74
96,Sugar,Maroon 5,pop,2015,120,79,75,-7,9,88,235,6,3,66

In [ ]:
# select * from table where City in ('Mumbai','Delhi','Pune');
# isin() - pass a list inside it

In [ ]:
res3 = df[df['artist'].isin(top7_artist)]
res3.head()

,title,artist,top genre,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity
0,Blinding Lights,The Weeknd,canadian contemporary r&b,2020,171,73,51,-6,9,33,200,0,6,91
4,Perfect,Ed Sheeran,pop,2017,95,45,60,-6,11,17,263,16,2,86
5,Believer,Imagine Dragons,modern rock,2017,125,78,78,-4,8,67,204,6,13,86
6,lovely (with Khalid),Billie Eilish,electropop,2018,115,30,35,-10,10,12,200,93,3,86
7,Circles,Post Malone,dfw rap,2019,120,76,70,-3,9,55,215,19,4,86

In [ ]:
w1 = res3['top genre'].value_counts().reset_index()
w1.columns = ['Genre','Count']
w1

                       Genre  Count
0                        pop      8
1                    dfw rap      7
2  canadian contemporary r&b      4
3                modern rock      4
4                 electropop      3
5               canadian pop      3

In [ ]:
w1['Count'].sum()

29

In [ ]:
w1['Percent'] = (w1['Count']/w1['Count'].sum())*100
w1

                       Genre  Count    Percent
0                        pop      8  27.586207
1                    dfw rap      7  24.137931
2  canadian contemporary r&b      4  13.793103
3                modern rock      4  13.793103
4                 electropop      3  10.344828
5               canadian pop      3  10.344828

In [ ]:
# City  Count  # percent
# A     10      (10/(10+5+7))*100
# B      5      (5/(10+5+7))*100
# C      7      (7/(10+5+7))*100

#### 4) Top 5 year contributing most to the spotify top 100 playlist

In [ ]:
res5 = df['year'].value_counts().head(5)
res5

2018    20
2019    16
2016    16
2015    13
2017    12
Name: year, dtype: int64

#### 6) Compute Top N Genre wise mean of Energy and Polularity

In [ ]:
res6 = top_N('top genre',5)
res6

          Genre  Genre_Count
0     dance pop           28
1           pop           11
2       dfw rap            7
3   modern rock            6
4  canadian pop            6

In [ ]:
res6['Genre_Count'].sum()

58

In [ ]:
top5genres = res6['Genre'].values.tolist()
top5genres

['dance pop', 'pop', 'dfw rap', 'modern rock', 'canadian pop']

In [ ]:
w2 = df[df['top genre'].isin(top5genres)]
w2.columns

Index(['title', 'artist', 'top genre', 'year', 'beats.per.minute', 'energy',
       'danceability', 'loudness.dB', 'liveness', 'valance', 'length',
       'acousticness', 'speechiness', 'popularity'],
      dtype='object')

In [ ]:
res6 = w2.groupby(['top genre'])[['energy','popularity']].mean()
res6
# ['dance pop', 'pop', 'dfw rap', 'modern rock', 'canadian pop']

                 energy  popularity
top genre
canadian pop  63.666667   79.500000
dance pop     63.178571   77.714286
dfw rap       60.571429   81.285714
modern rock   68.833333   81.166667
pop           55.090909   81.727273